# NodeBot — sdkconfig.defaults
# Freenove ESP32-S3-WROOM CAM N16R8 (16MB flash, 8MB Octal PSRAM)

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# PSRAM — Octal 80 MHz
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

# Dual core (desabilita modo unicore explicitamente)
# CONFIG_FREERTOS_UNICORE is not set

# CPU 240 MHz
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
